/* селектор по названию класса */
.p1 {
    background-color: rgb(240, 225, 255);
}

/* универсальный селектор - применяется ко всем элементам */
* {
    font-weight: 600; /* сделать все элементы с жирным шрифтом */
}

/* селектор по тегу - применяется ко всем элементам c названием тега div */
div {
    font-size: 20px;
    font-style: italic;
}

/* селектор по псевдоклассу*/
.btn:hover {
    background-color: blueviolet;
}

/* 
селекторы в данном файле:
.p1 - по названию класса
* - все элементы
div - по названию тега

*/