:root {
    --color-theme:#6F2DFC;
    --color-theme-light:#AE9BFF;
    --color-text: #100E2A;
    --color-card: #fff;
    --color-text-white: #fff;

    --text-20px: 20px;
    --text-25px: 25px;
    --text-14px: 14px;

    --space-8px: 8px;

    --size-radius: 8px;
}

body,
h3,
p {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: var(--color-theme-light);
}

.card {
    --size: 200px;
    background-color: var(--color-card);
    width: var(--size);
    border-radius: var(--size-radius);
    padding: 30px;
    box-shadow: 0  3px 8px var(--color-theme-light);


}

.button-theme {
    --padding: 8px;

    border: 0;
    border-radius: var(--size-radius);
    padding: var(--padding);
    background-color: var(--color-theme);
    color: var(--color-text-white);
    width: 100%;

    box-shadow: 0 3px 8px var(--color-theme-light);
}

.button-theme:hover {
    cursor: pointer;
    box-shadow: none;
}

.title{
    font-weight: 600px;
    margin-bottom: 20px;
}

.description{
    margin-bottom: 20px;
}

.price{
    margin-bottom: 20px;
}

.price-accent{
    margin-bottom: 20px;
    font-weight: 500px;
    font-size:var(--text-25px);
}