:root {
    --color-blue: darkblue;
    --color-grey: grey;

    --text-25: 25px;
    --text-12: 12px;

    --space-20: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: var(--color-grey);
}

.card{
    background-color:white;
    width: 200px;
    border-radius: 10px;
    padding: 30px;
}
.button

.form-input{
    outline: 0;
    border: 0px;
    border-bottom: 1px solid  var(--color-grey);
    width: 100%;
    margin-bottom: 20px;
}

.form-input:focus {
    border-bottom-color: var(--color-blue);
}

.button-blue {
    --radius: 5px;
    --padding: 10px;

    background-color: var(--color-blue);
    color: white;
    border-radius: var(--radius);
    box-sizing: border-box;
    padding: var(--padding);
    width: 100%;
    border: 0;
    margin-bottom: var(--space-20);
}

.title {
  color:black;  
  font-size: var(--text-25);
}

.text-12 {
    font-size: var(--text-12);
}

.description {
   color: var(--color-grey);
    margin-bottom: 40px;
}

.div-grey {
    color: var(--color-grey);
}

.div-black{
    color:black;
    font-weight: 600;
}


/* цвета
    # испоьзуется только с HEX системой
    HEX - это цвет корой обозначается в формате 6-и значного кода (например #ffffff)
*/

/*
селектор {
    параметр: значение;
} 

.название-класса {
    параметр: значение;
} 
*/












































































