* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color:grey;
}

.card{
    background-color:white;
    width: 300px;
    border-radius: 10px;
    padding: 30px;
}

.form-input{
    outline: 0;
    border: 0px;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-bottom: 20px;
}

.form-input:focus {
    border-bottom-color: darkblue;
}

.button-blue {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    box-sizing: dorder-box;
    padding: 10px;
    width: 100%;
    border: 0;
    margin-bottom: 20px;
}

.title {
  color:black;  
  font-size: 25px;
}

.text-12 {
    font-size: 12px;
}

.description {
    color:grey;
    margin-bottom: 40px;
}

.div-grey {
    color:grey;
}

.div-black{
    color:black;
    font-weight: 600;
}


/* цвета
    # испоьзуется только с HEX системой
    HEX - это цвет корой обозначается в формате 6-и значного кода (например #ffffff)
*/

/*
селектор {
    параметр: значение;
} 

.название-класса {
    параметр: значение;
} 
*/












































































