:root {
    --color-green: #48a04d;
    --color-grey:#86868b;
    --color-white:#FFF;
    
    --size-border-radius: 8px;
 
    --text-18: 18px;
}

h1,
p,
button {
    margin: 0;
    padding: 0;
}

.title {
    font-size: var(--text-18);
}

.description {
    color: var(--color-grey);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn {
    border: 0;
    padding: 8px 30px;
    border-radius: var(--size-border-radius);
}

.btn-cancel {
    color: var(--color-grey);
    margin-right: 10px;
}

.btn-confirm {
    color: var(--color-white);
    background-color: var(--color-green);
}